{% extends 'admin/base_admin.html' %}
{% load static %}

{% block content %}
{% for solicitud in page_obj %}
<div class="modal fade" id="reporteSolicitudModal{{ solicitud.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear Reporte</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="crear-reporte-form" method="post" action="{% url 'crear_reporte' solicitud.id %}" id="crear-reporte-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="usuario">Usuario:</label>
                        <input type="text" class="form-control" id="usuario" value="{{ solicitud.nombre }}{{ solicitud.apellido }}" name="nombre_completo" readonly>
                    </div>
                    <div class="form-group">
                        <label for="departamento">Departamento:</label>
                        <input type="text" class="form-control" value="{{ solicitud.departamento }}" id="departamento" name="departamento" readonly>
                    </div>
                    <div class="form-group">
                        <label for="servicio_solicitado">Servicio Solicitado:</label>
                        <input type="text" class="form-control" value="{{ solicitud.detalle_equipo }}, {{ solicitud.descripcion }}"  id="servicio_solicitado"  name="servicio_solicitado" readonly>
                    </div>
                    <div class="form-group">
                        <label for="servicio_realizado">Servicio Realizado:</label>
                        <textarea class="form-control" id="servicio_realizado" name="servicio_realizado" rows="3"></textarea>
                        <p id="servicio_realizado_error" class="text-danger"></p>
                    </div>
                    <div class="form-group">
                        <label for="observacion">Observación:</label>
                        <textarea class="form-control" id="observacion" name="observacion" rows="3"></textarea>
                        <p id="observacion_error" class="text-danger"></p>
                    </div>
                    <div class="form-group">
                        <label for="tecnico">Técnico:</label>
                        <input type="text" class="form-control" id="tecnico" name="tecnico">
                        <p id="tecnico_error" class="text-danger"></p>
                    </div>
                    <div class="form-group">
                        <label for="fecha">Fecha:</label>
                        <input readonly="readonly" type="text" value="{{ solicitud.fecha|date:"d/m/Y" }}" class="form-control" id="fecha" name="fecha">
                    </div>
                    <div class="form-group">
                        <label for="hora">Hora:</label>
                        <input readonly="readonly" type="text" value="{{ solicitud.hora|time:"h:i A" }}" class="form-control" id="hora" name="hora">
                    </div>
                    <div class="form-group">
                        <label for="estado">Estado:</label>
                        <select class="form-control" name="estado" id="estado">
                            <option value="En espera" {% if solicitud.estado == "En espera" %}selected{% endif %}>En espera</option>
                            <option value="Aceptado" {% if solicitud.estado == "Aceptado" %}selected{% endif %}>Aceptado</option>
                            <option value="En proceso" {% if solicitud.estado == "En proceso" %}selected{% endif %}>En proceso</option>
                            <option value="Cancelado" {% if solicitud.estado == "Cancelado" %}selected{% endif %}>Cancelado</option>
                            <option value="Finalizado" {% if solicitud.estado == "Finalizado" %}selected{% endif %}>Finalizado</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="prioridad">Prioridad:</label>
                        <input readonly="readonly" type="text" value="{{ solicitud.prioridad }}" class="form-control" id="prioridad" name="prioridad">
                    </div>
                    <button type="submit" class="btn btn-primary mt-3" id="crear-reporte-btn">Crear Reporte</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endfor %}


{% endblock content %}