{% extends 'admin/base_admin.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Solicitudes</h1>
        <!-- Botón para abrir la modal -->
    </div>

    <div class="card">
        <div class="card-body">
            {% include 'includes/alertas.html' %}
        </div>
    </div>
    

    <!-- Table -->
    <div class="table-responsive mt-2">
        <table class="table table-bordered" id="test" width="100%" cellspacing="0">
            <thead class="text-center">
                <tr class="table-info">
                    <th><i class="fas fa-tasks fa-sm"></i></th>
                    <th>Usuario</th>
                    <th>Departamento</th>
                    <th>Detalle/Equipo</th>
                    <th>Descripcion</th>
                    <th>Solicitud</th>
                    <th>Estado</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Prioridad</th>
                    <th colspan="3">Opciones</th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% for solicitud in page_obj %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{solicitud.nombre}} {{solicitud.apellido}}</td>
                    <td>{{solicitud.departamento}}</td>
                    <td>{{solicitud.detalle_equipo}}</td>
                    <td>{{solicitud.descripcion}}</td>
                    <td>{{solicitud.mantenimiento}}</td>
                    <td>{{solicitud.estado}}</td>
                    <td>{{solicitud.fecha|date:"d/m/Y"}}</td>
                    <td>{{solicitud.hora|time:"h:i A" }}</td>
                    <td>{{solicitud.prioridad}}</td>
                    <td><button class="btn btn-success btn-sm" data-toggle="modal" data-target="#opcionesSolicitudModal{{ solicitud.id }}"><i class="fas fa-edit"></i></button></td>
                    <td><button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#reporteSolicitudModal{{ solicitud.id }}"><i class="fas fa-clipboard-list fa-sm"></i></button></td>
                    <td><button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#eliminarSolicitudModal{{ solicitud.id }}"><i class="fas fa-trash"></i></button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
        
        

    <!-- Pagination -->
    <div class="d-flex justify-content-center">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">&laquo;</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        </li>
        {% endif %}
        <li class="page-item active">
            <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
        </li>
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
        </li>
        {% endif %}
    </ul>
</div>

</div>

{% for solicitud in page_obj %}
<div class="modal fade" id="reporteSolicitudModal{{ solicitud.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear Reporte</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="crear-reporte-form" method="post" action="{% url 'crear_reporte' solicitud.id %}" id="crear-reporte-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="usuario">Usuario:</label>
                        <input type="text" class="form-control" id="usuario" value="{{ solicitud.nombre }}{{ solicitud.apellido }}" name="nombre_completo" readonly>
                    </div>
                    <div class="form-group">
                        <label for="departamento">Departamento:</label>
                        <input type="text" class="form-control" value="{{ solicitud.departamento }}" id="departamento" name="departamento" readonly>
                    </div>
                    <div class="form-group">
                        <label for="servicio_solicitado">Servicio Solicitado:</label>
                        <input type="text" class="form-control" value="{{ solicitud.detalle_equipo }}, {{ solicitud.descripcion }}"  id="servicio_solicitado"  name="servicio_solicitado" readonly>
                    </div>
                    <div class="form-group">
                        <label for="servicio_realizado">Servicio Realizado:</label>
                        <textarea class="form-control" id="servicio_realizado" name="servicio_realizado" rows="3"></textarea>
                        <p id="servicio_realizado_error" class="text-danger"></p>
                    </div>
                    <div class="form-group">
                        <label for="observacion">Observación:</label>
                        <textarea class="form-control" id="observacion" name="observacion" rows="3"></textarea>
                        <p id="observacion_error" class="text-danger"></p>
                    </div>
                    <div class="form-group">
                        <label for="tecnico">Técnico:</label>
                        <input type="text" class="form-control" id="tecnico" name="tecnico">
                        <p id="tecnico_error" class="text-danger"></p>
                    </div>
                    <div class="form-group">
                        <label for="fecha">Fecha:</label>
                        <input readonly="readonly" type="text" value="{{ solicitud.fecha|date:"d/m/Y" }}" class="form-control" id="fecha" name="fecha">
                    </div>
                    <div class="form-group">
                        <label for="hora">Hora:</label>
                        <input readonly="readonly" type="text" value="{{ solicitud.hora|time:"h:i A" }}" class="form-control" id="hora" name="hora">
                    </div>
                    <div class="form-group">
                        <label for="estado">Estado:</label>
                        <select class="form-control" name="estado" id="estado">
                            <option value="En espera" {% if solicitud.estado == "En espera" %}selected{% endif %}>En espera</option>
                            <option value="Aceptado" {% if solicitud.estado == "Aceptado" %}selected{% endif %}>Aceptado</option>
                            <option value="En proceso" {% if solicitud.estado == "En proceso" %}selected{% endif %}>En proceso</option>
                            <option value="Cancelado" {% if solicitud.estado == "Cancelado" %}selected{% endif %}>Cancelado</option>
                            <option value="Finalizado" {% if solicitud.estado == "Finalizado" %}selected{% endif %}>Finalizado</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="prioridad">Prioridad:</label>
                        <input readonly="readonly" type="text" value="{{ solicitud.prioridad }}" class="form-control" id="prioridad" name="prioridad">
                    </div>
                    <button type="submit" class="btn btn-primary mt-3" id="crear-reporte-btn">Crear Reporte</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    // Agrega un evento 'submit' a todos los formularios con la clase 'crear-reporte-form'
    document.querySelectorAll('.crear-reporte-form').forEach(function(form) {
        form.addEventListener('submit', function(event) {
            // Encuentra el modal padre del formulario actual
            var modal = form.closest('.modal');
            
            // Encuentra y valida los campos dentro del modal actual
            var servicioRealizado = modal.querySelector('.servicio_realizado').value.trim();
            var observacion = modal.querySelector('.observacion').value.trim();
            var tecnico = modal.querySelector('.tecnico').value.trim();
            
            var servicioRealizadoError = modal.querySelector('.servicio_realizado_error');
            var observacionError = modal.querySelector('.observacion_error');
            var tecnicoError = modal.querySelector('.tecnico_error');

            servicioRealizadoError.innerHTML = "";
            observacionError.innerHTML = "";
            tecnicoError.innerHTML = "";

            if (servicioRealizado === "") {
                servicioRealizadoError.innerHTML = "Este campo es obligatorio.";
                event.preventDefault();
            }

            if (observacion === "") {
                observacionError.innerHTML = "Este campo es obligatorio.";
                event.preventDefault();
            }

            if (tecnico === "") {
                tecnicoError.innerHTML = "Este campo es obligatorio.";
                event.preventDefault();
            }
        });
    });
</script>



<!--Modal para agregar Prioridad y El estado-->
<div class="modal fade" id="opcionesSolicitudModal{{ solicitud.id }}" tabindex="-1" role="dialog" aria-labelledby="exempleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Estados y Prioridad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'opciones_solicitudes' solicitud.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="estado">estado:</label>
                        <select class="form-control" name="estado" id="estado">
                            <option value="En espera" {% if solicitud.estado == "En espera" %}selected{% endif %}>En espera</option>
                            <option value="Aceptado" {% if solicitud.estado == "Aceptado" %}selected{% endif %}>Aceptado</option>
                            <option value="En proceso" {% if solicitud.estado == "En proceso" %}selected{% endif %}>En proceso</option>
                            <option value="Cancelado" {% if solicitud.estado == "Cancelado" %}selected{% endif %}>Cancelado</option>
                            <option value="Finalizado" {% if solicitud.estado == "Finalizado" %}selected{% endif %}>Finalizado</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="prioridad">Prioridad:</label>
                        <select class="form-control" name="prioridad" id="prioridad">
                            <option value="Baja" {% if solicitud.prioridad == "Baja" %}selected{% endif %}>Baja</option>
                            <option value="Media" {% if solicitud.prioridad == "Media" %}selected{% endif %}>Media</option>
                            <option value="Alta" {% if solicitud.prioridad == "Alta" %}selected{% endif %}>Alta</option>
                        </select>
                    </div>                    
                    <button type="submit" class="btn btn-primary mt-3">Opciones Agreagdas</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal de confirmación de eliminación para cada diagnóstico -->
<div class="modal fade" id="eliminarSolicitudModal{{ solicitud.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar Esta Solicitud</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar esta solicitud?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <a href="{% url 'eliminar_solicitud' solicitud.id %}" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
    </div>
</div>

{% endfor %}




{% endblock content %}