{% extends 'admin/base_admin.html' %}
{% load static %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Usuarios</h1>
        <!-- Botón para abrir la modal -->
        <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#agregarUsuarioModal">
            <i class="fas fa-user fa-sm text-white-50"></i> Crear Usuario
        </button>
    </div>

    <div class="card">
        <div class="card-body">
            {% include 'includes/alertas.html' %}
        </div>
    </div>

    <!-- Table -->
    <div class="table-responsive mt-2">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead class="text-center">
                <tr class="table-info">
                    <th><i class="fas fa-user fa-sm"></i></th>
                    <th>Usuario</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Departamento</th>
                    <th>Admin</th>
                    <th>Staff</th>
                    <th>Active</th>
                    <th>Superadmin</th>
                    <th colspan="3">Opciones</th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% for user in page_obj %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.departamento }}</td>
                    <td>{% if user.is_admin %}<i class="fas fa-check text-success"></i>{% else %}<i class="fas fa-times text-danger"></i>{% endif %}</td>
                    <td>{% if user.is_staff %}<i class="fas fa-check text-success"></i>{% else %}<i class="fas fa-times text-danger"></i>{% endif %}</td>
                    <td>{% if user.is_active %}<i class="fas fa-check text-success"></i>{% else %}<i class="fas fa-times text-danger"></i>{% endif %}</td>                                       
                    <td>{% if user.is_superadmin %}<i class="fas fa-check text-success"></i>{% else %}<i class="fas fa-times text-danger"></i>{% endif %}</td>
                    <td>
                        <!-- Botón para actualizar los estados del usuario -->
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#actualizarEstadoModal{{ user.id }}">
                            <i class="fas fa-lock"></i>
                        </button>
                    </td>
                    <td><button class="btn btn-success btn-sm" data-toggle="modal" data-target="#editarUsuarioModal{{ user.id }}"><i class="fas fa-edit"></i></a></td>
                    <td><button class="btn btn-danger btn-sm"  data-toggle="modal" data-target="#eliminarUsuarioModal{{ user.id }}"><i class="fas fa-trash"></i></button></td>
                </tr>
            
                <!-- Modal para actualizar estados del usuario -->
                <div class="modal fade" id="actualizarEstadoModal{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="actualizarEstadoModalLabel{{ user.id }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="actualizarEstadoModalLabel{{ user.id }}">Actualizar Estados de {{ user.username }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!-- Aquí colocas el formulario para actualizar los estados del usuario -->
                                <form method="post" action="{% url 'cambiar_estado_usuario' user.id %}">
                                    {% csrf_token %}
                                    <input type="checkbox" id="admin" name="admin" {% if user.is_admin %}checked{% endif %} value="true">
                                    <label for="admin">Admin</label><br>

                                    <input type="checkbox" id="staff" name="staff" {% if user.is_staff %}checked{% endif %} value="true">
                                    <label for="staff">Staff</label><br>

                                    <input type="checkbox" id="active" name="active" {% if user.is_active %}checked{% endif %} value="true">
                                    <label for="active">Activo</label><br>

                                    <input type="checkbox" id="superadmin" name="superadmin" {% if user.is_superadmin %}checked{% endif %} value="true">
                                    <label for="superadmin">Superadmin</label><br>
            
                                    <button type="submit" class="btn btn-primary">Actualizar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                

                <div class="modal fade" id="editarUsuarioModal{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Editar Usuario</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="post" action="{% url 'editar_usuario' user.id %}">
                                    {% csrf_token %}
                                <div class="form-group">
                                    <label for="first_name">Nombre:</label>
                                    <input type="text" class="form-control" id="first_name" value="{{ user.first_name }}" name="first_name">
                                </div>
                                <div class="form-group">
                                    <label for="last_name">Apellidos:</label>
                                    <input type="text" class="form-control" id="last_name" value="{{ user.last_name }}" name="last_name">
                                </div>
                                <div class="form-group">
                                    <label for="username">Nombre De Usuario:</label>
                                    <input type="text" class="form-control" id="username" value="{{ user.username }}" name="username">
                                </div>
                                <div class="form-group">
                                    <label for="password">Contraseña:</label>
                                    <input type="password" class="form-control" id="password" placeholder="Actualiza Contraseña si es neseario" name="password">
                                </div>
                                <div class="form-group">
                                    <label for="departamento">Departamento:</label>
                                    <input type="text" class="form-control" id="departamento" value="{{ user.departamento }}" name="departamento">
                                </div>
                                <button type="submit" class="btn btn-primary mt-3">Guardar Cambios</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Pagination -->
    <div class="d-flex justify-content-center">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            </li>
            {% endif %}
            <li class="page-item active">
                <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
            </li>
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
            </li>
            {% endif %}
        </ul>
    </div>

    

    <!-- Modal para agregar usuario -->
<div class="modal fade" id="agregarUsuarioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'agregarUsuario' %}" class="container" id="agregar-usuario-form">
                    {% csrf_token %}
                    <!-- Campos del formulario para agregar usuario aquí -->
                    <div class="form-group">
                        <label for="first_name">Nombre:</label>
                        <input type="text" autocomplete="off" class="form-control" id="first_name" name="first_name">
                        <p id="first_name_error" class="text-danger"></p>
                    </div>
                    <div class="form-group">
                        <label for="last_name">Apellido:</label>
                        <input type="text" autocomplete="off" class="form-control" id="last_name" name="last_name">
                        <p id="last_name_error" class="text-danger"></p>
                    </div>
                    <div class="form-group">
                        <label for="username">Nombre de Usuario:</label>
                        <input type="text" autocomplete="off" class="form-control" id="username" name="username">
                        <p id="username_error" class="text-danger"></p>
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña:</label>
                        <input type="password" autocomplete="off" class="form-control" id="password" name="password">
                    </div>
                    <div class="form-group">
                        <label for="departamento">Departamento:</label>
                        <input type="text" class="form-control" autocomplete="off" id="departamento" name="departamento">
                        <p id="departamento_error" class="text-danger"></p>
                    </div>
                    <!-- Agrega los demás campos del formulario aquí -->
                    <button type="submit" class="btn btn-primary mt-3" id="agregar-usuario-btn">Agregar</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% for user in page_obj %}
<!--Modal para eliminar un Usuario-->
<div class="modal fade" id="eliminarUsuarioModal{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Estas seguro de que deseas eliminar este usuario?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <a href="{% url 'eliminar_usuario' user.id %}" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<script>
    // Deshabilitar el autocompletado para los campos de usuario y contraseña
    document.getElementById('username').setAttribute('autocomplete', 'off');
    document.getElementById('password').setAttribute('autocomplete', 'off');
</script>



<script>
    $(document).ready(function() {
        $('.btn-cambiar-estado').click(function() {
            var userId = $(this).data('user');
            var isActive = $(this).data('active');
            
            $.ajax({
                type: 'POST',
                url: '/cambiar_estado_usuario/' + userId + '/',  // URL de la vista para cambiar el estado del usuario
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.success) {
                        // Actualizar el estado del botón y el ícono
                        if (isActive) {
                            $(this).html('<i class="fas fa-times text-danger"></i>');
                        } else {
                            $(this).html('<i class="fas fa-check text-success"></i>');
                        }
                        $(this).data('active', !isActive);
                    } else {
                        alert('Error al cambiar el estado del usuario.');
                    }
                },
                error: function(error) {
                    console.log(error);
                    alert('Error en la solicitud AJAX.');
                }
            });
        });
    });
    </script>
    

</div>

{% endblock content %}
